body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: #0f1419; }
.grey-color { color: #677682; }
.link-color { color: #0000ff; }
.link-color:hover { color: rgb(0 0 255 / 62%); }
a { color: inherit; text-decoration: none; }
a:hover {
    color: #1c3040;
}
.z-index { z-index: 50; }
form.ais-SearchBox-form { display: flex; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); max-width: 700px; border-radius: 24px; z-index: 3; margin: 0 auto; overflow: hidden; padding: 0px 1rem 0 0.25rem; }
form.ais-SearchBox-form:hover, form.ais-SearchBox-form:focus { box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%); border-color: rgba(223, 225, 229, 0); }
input.ais-SearchBox-input { width: 100%; min-height: 2.75rem; border: none; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { -webkit-appearance: none; }
button.ais-SearchBox-submit, button.ais-SearchBox-reset { border: none; background: none; border: none; background: none; margin-left: 0.5rem; padding: 0px; }
input.ais-SearchBox-input { order: 2 !important; }
button.ais-SearchBox-submit { order: 3 !important; }
button.ais-SearchBox-reset { order: 1 !important; }
button.ais-SearchBox-submit svg, button.ais-SearchBox-reset svg { width: 1.5rem; height: 1.5rem; }
button.ais-SearchBox-reset svg { padding: 3px; }
svg.ais-SearchBox-submitIcon *, button.ais-SearchBox-reset * { fill: #9aa0a6; }
svg.ais-SearchBox-submitIcon *:hover, svg.ais-SearchBox-submitIcon *:focus, button.ais-SearchBox-reset *:hover, button.ais-SearchBox-reset *:focus { fill: #808387; }
ol.ais-Hits-list { list-style: none; padding: 0px 0 0rem; margin-bottom: 0px; display: flex; scrollbar-width: thin; overflow-x: auto; scrollbar-width: thin; }
.ais-InfiniteHits-list { list-style: none; padding-right: 0px; }
.ais-Hits-item {
    font-size: 13px;
    margin: 0 0.5rem;
    text-align: center;
    padding-bottom: 7px;
    position: relative;
}
.ais-Hits-item span { margin-top: 2px; }

.ais-Hits-item span.ais-Menu-label { font-weight: 600; }
.menu-img { border: 1px solid #ccc; width: 60px; height: 60px; }
.ais-Hits-item .menu-img { border: 2px solid #000; }
ol.ais-InfiniteHits-list li, .ais-InfiniteHits.ais-InfiniteHits--empty { position: relative; border-top: 1px solid #eff3f4; padding: 1.5rem 1rem; transition: 0.25s linear; }
ol.ais-InfiniteHits-list li:hover { background: #f7f7f7; }
.ais-InfiniteHits.ais-InfiniteHits--empty { text-align: center;  }
.tweet-action-right .grey-color a:hover { color: #1c3040; }
.tweet-action-right svg * { fill: #677682; }
.tweet-action-right .grey-color a:hover svg * { fill: #1c3040; }
button.ais-InfiniteHits-loadMore { background: none; border: 1px solid #8d9699; padding: 0.5rem 2rem; display: block; margin: 2rem auto 0; border-radius: 50px; transition: 0.25s linear; }
button.ais-InfiniteHits-loadMore:hover, button.ais-InfiniteHits-loadMore:focus { background: #1c3040; color: #fff; }
.hit-name:not(:last-child) { margin-bottom: 1rem; }
.hit-userName a { max-width: 180px; display: inline-block; text-overflow: ellipsis; overflow: hidden;min-height: 1.275rem; }
.ais-SearchBox { width: 100%; }
mark.ais-Highlight-highlighted { background: none; font-weight: bold; }
.tweet-action-right svg { width: 1.15rem; line-height: 1; }
.tweet-actions { line-height: 1.15; }
/* width */
ol.ais-Hits-list::-webkit-scrollbar {

}

::-webkit-scrollbar {
  height: 10px;              /* height of horizontal scrollbar ← You're missing this */
  width: 10px;               /* width of vertical scrollbar */

  background: #f6f6f6; border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d2d2d2;
border-radius: 10px;
}

/*
.top-menu span {left: 0px;right: 0px; top: 0px;display: block;background: black;color: #ffff;white-space: nowrap;opacity: 0;}
.top-menu:hover span {opacity: 1;}*/
.hit-avatar-col {
    /* width: min(4.75rem, 17.75vw); max-width: min(4.75rem, 17.75vw); */
}
.main-tweet .hit-avatar-col:before {content: '';width: 1px;background: #dee1e4;/* background: #171717; *//* left: 0px; *//* right: 0px; */height: 100%;position: absolute;top: calc(0px + 1rem);}

.main-tweet  .hit-avatar-col {
    position: relative;
}
.reply-tweet .hit-avatar-img {
  width: 44px;
  margin-left: 3px;
  margin-right: 3px;
}


@media (min-width:768px) {
  .container { max-width: 700px; }
}
@media (max-width:767px) {
  ol.ais-InfiniteHits-list li, .ais-InfiniteHits.ais-InfiniteHits--empty { position: relative; padding: 0.8rem 0.7rem; }
  input.ais-SearchBox-input { min-height: 2.25rem; }
  button.ais-SearchBox-submit svg, button.ais-SearchBox-reset svg { width: 1.25rem; height: 1.25rem; }
  .hit-userName a { max-width: 260px; min-height: auto; }
  .tweet-actions { line-height: 1; }
  .hit-avatar-col { line-height: 1.1; }
  .menu-img { width: 50px; height: 50px; }
  li.ais-Menu-item { margin: 0 0.45rem; }
.hit-avatar-img {width: 72px;
    width: min(4.25rem, 15.75vw);}
.ais-Hits-item .hit-avatar-img {
    width: min(3.75rem, 14.25vw);
}
.reply-tweet .hit-avatar-col > a {
  width: min(4.25rem, 15.75vw);
  text-align: center !important;
}
.reply-tweet .hit-avatar-img {
  width: min(3.5rem, 13.75vw);
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.main-tweet .hit-avatar-col:before { background: #dee1e4;
  right: calc(50% - 0.5rem + 1px);  top: calc(50% + 3rem); height: 50%;
}
.main-tweet .hit-avatar-col .tweet-action-right {
  background: white;
  transition: 0.25s linear;
  position: relative;
  padding-bottom: 0.5rem;
}
ol.ais-InfiniteHits-list li:hover .main-tweet .hit-avatar-col .tweet-action-right {
  background: #f7f7f7;
}
.hit-avatar-col {
    width: min(4.75rem, 17.75vw);
    max-width: min(4.75rem, 17.75vw);
}
}
@media (max-width:414px) {
  .d-md-none.mt-2.mt-md-0.tweet-action-right { font-size: min(0.8rem, 4vw); }
  .tweet-content { font-size: min(0.9rem, 3.75vw); }

  .main-tweet .hit-avatar-col .tweet-action-right {
    font-size: min(0.9rem, 3.75vw);
}.mobile-action-icon > svg {
    width: min(1.2rem, 3.75vw);
}
  .hit-userName a { max-width: 185px; }
}
@media (max-width:360px) {
  .hit-userName a { max-width: 140px; }
  ol.ais-InfiniteHits-list li, .ais-InfiniteHits.ais-InfiniteHits--empty { padding: 0.75rem 0.5rem; }
}
